@media (max-width: 1024px) {
  .navigation .navigation-wrap .navigation-left .logo a img {
    width: 90px;
    height: 70px;
  }
  .navigation .navigation-wrap .navigation-right .navigation-list li {
    padding-left: 30px;
  }
  .banner .banner-wrap {
    left: 0;
  }
  .banner .banner-wrap img {
    max-width: 250px;
  }
}
@media (max-width: 992px) {
  .banner {
    height: 650px;
  }
  .banner .banner-wrap {
    left: 0;
  }
  .banner .banner-wrap img {
    max-width: 200px;
  }
  .camping-title h5 {
    font-size: 16px;
    letter-spacing: 3px;
  }
  .camping-title h1 {
    font-size: 48px;
    letter-spacing: 3px;
  }
  .camping-info .camping-info-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .camping-info .camping-info-content .camping-info-left, .camping-info .camping-info-content .camping-info-right {
    width: 100%;
  }
  .camping-info .camping-info-content .camping-info-left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .camping-gallery .camping-horizontal-gallery .camping-image-list img {
    height: 400px;
  }
  .background-scroll {
    min-height: 350px;
  }
  .promo-section .promo-title h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
  }
  .promo-section .promo-title h2 {
    font-size: 48px;
    font-weight: 700;
    margin: 10px 0 0;
  }
  .camping-current .camping-current-list .camping-current-item .item-content .item-content-top h5 {
    font-size: 16px;
    letter-spacing: 3px;
  }
  .camping-current .camping-current-list .camping-current-item .item-content .item-content-top h3 {
    font-size: 32px;
    letter-spacing: 3px;
  }
  .camping-flavor .camping-flavor-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .camping-flavor .camping-flavor-content .camping-flavor-item {
    width: 100%;
  }
  .camping-registration .camping-registration-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .camping-registration .camping-registration-content .register-image {
    display: none;
  }
  .camping-registration .camping-registration-content .register-form {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .banner {
    height: 500px;
  }
  .banner .banner-wrap {
    top: 100px;
    left: 0;
  }
  .banner .banner-wrap img {
    max-width: 150px;
  }
  .navigation {
    display: none;
  }
  .header-mobile {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 21;
    top: 0;
    overflow: hidden;
    background-color: #0D4734;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .header-mobile .navigation-wrap-mobile {
    position: relative;
  }
  .header-mobile .navigation-wrap-mobile .navigation-left-mobile {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
  }
  .header-mobile .navigation-wrap-mobile .navigation-left-mobile .icon-menu-mobile {
    width: 30px;
    height: 30px;
  }
  .header-mobile .navigation-wrap-mobile .navigation-center-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-mobile .navigation-wrap-mobile .navigation-center-mobile .logo-mobile a img {
    width: 100px;
    height: 90px;
  }
  .header-mobile .navigation-wrap-mobile .navigation-right-mobile {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 12;
    cursor: pointer;
  }
  .header-mobile .navigation-wrap-mobile .navigation-right-mobile .icon-close-menu-mobile {
    width: 30px;
    height: 30px;
  }
  .header-mobile .navigation-mobile {
    display: none;
  }
  .header-mobile .navigation-mobile .navigation-list-mobile {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #ffffff;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 90px;
  }
  .header-mobile .navigation-mobile .navigation-list-mobile li {
    border-bottom: 1px solid #ececec;
    margin: 0;
    width: 100%;
  }
  .header-mobile .navigation-mobile .navigation-list-mobile li a {
    padding: 15px 100px 15px 20px;
    text-decoration: none;
    font-size: 16px;
    color: #757575;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-weight: 700;
    text-transform: uppercase;
  }
  .header-mobile .navigation-mobile .navigation-list-mobile li:hover {
    background-color: #f8d7da;
  }
  .header-mobile .navigation-mobile .navigation-list-mobile li:hover a:hover {
    color: #000000;
  }
  .header-mobile .show-nav-mobile {
    display: block;
  }
  .header-mobile.hidden {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .camping-title h5 {
    font-size: 14px;
    letter-spacing: 3px;
  }
  .camping-title h1 {
    font-size: 32px;
    letter-spacing: 3px;
  }
  .camping-info .camping-info-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .camping-info .camping-info-content .camping-info-left, .camping-info .camping-info-content .camping-info-right {
    width: 100%;
  }
  .camping-info .camping-info-content .camping-info-left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .camping-gallery .camping-horizontal-gallery .camping-image-list img {
    height: 300px;
  }
  .camping-memories .camping-memories-center, .camping-memories .camping-memories-bot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .camping-memories .camping-memories-center .left, .camping-memories .camping-memories-center .right, .camping-memories .camping-memories-bot .left, .camping-memories .camping-memories-bot .right {
    width: 100%;
  }
  .camping-current .camping-current-list .camping-current-item .item-content .item-content-top h5 {
    font-size: 12px;
  }
  .camping-current .camping-current-list .camping-current-item .item-content .item-content-top h3 {
    font-size: 24px;
  }
  .camping-current .camping-current-list .camping-current-item .item-content .item-content-center p {
    font-size: 16px;
  }
  .camping-flavor .camping-flavor-content .camping-flavor-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .camping-flavor .camping-flavor-content .camping-flavor-item .flavor-image {
    margin-bottom: 30px;
  }
  .background-scroll {
    min-height: 300px;
  }
  .promo-section .promo-title h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }
  .promo-section .promo-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 10px 0 0;
  }
  .camping-current .camping-current-list .camping-current-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .camping-current .camping-current-list .camping-current-item .item-content, .camping-current .camping-current-list .camping-current-item .item-image {
    width: 100%;
  }
  .camping-current .camping-current-list .camping-current-item .item-content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .camping-current .camping-current-list .camping-current-item .item-content .line {
    width: 100%;
  }
  .camping-current .camping-current-list .camping-current-item .item-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .camping-flavor .camping-flavor-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .camping-flavor .camping-flavor-content .camping-flavor-item {
    margin: 15px 0;
    width: 100%;
  }
  .camping-flavor .camping-flavor-content .camping-flavor-item .flavor-content p {
    font-size: 16px;
  }
  .camping-contact .camping-contact-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .camping-contact .camping-contact-group .contact-image, .camping-contact .camping-contact-group .contact-content {
    width: 100%;
  }
  .camping-contact .camping-contact-group .contact-content {
    padding: 60px 30px;
  }
  .camping-contact .camping-contact-group .contact-content h2 {
    font-size: 24px;
  }
  .camping-contact .camping-contact-group .contact-content p {
    font-size: 16px;
  }
  .camping-registration .camping-registration-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 30px;
  }
  .camping-registration .camping-registration-content .register-image {
    display: none;
  }
  .camping-registration .camping-registration-content .register-form {
    padding: 10px;
  }
}