html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.header-mobile {
  display: none;
}

.container {
  overflow: hidden;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 11;
}

.camping-title h5 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 18px;
  margin-bottom: 30px;
}
.camping-title h1 {
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 30px;
}

.navigation {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 11;
  background-color: rgb(77, 91, 42);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.navigation .navigation-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.navigation .navigation-wrap .navigation-left .logo a img {
  width: 100px;
  height: 80px;
}
.navigation .navigation-wrap .navigation-right .navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin: 0;
}
.navigation .navigation-wrap .navigation-right .navigation-list li {
  padding-left: 80px;
}
.navigation .navigation-wrap .navigation-right .navigation-list li a {
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  text-shadow: 2px 2px 2px #383838;
}
.navigation .navigation-wrap .navigation-right .navigation-list li:first-child {
  margin-left: 0;
}
.navigation .navigation-wrap .navigation-right .navigation-list li:last-child {
  margin-right: 0;
}
.navigation .navigation-wrap .navigation-right .navigation-list li a:hover {
  color: #3f99bb;
}
.navigation .navigation-wrap .navigation-right .navigation-list li:last-child a {
  padding: 10px 30px;
  background-color: rgb(181, 25, 31);
  color: #FFF;
  text-shadow: none;
}
.navigation .navigation-wrap .navigation-right .navigation-list li:last-child a:hover {
  background-color: #FFF;
  color: rgb(181, 25, 31);
}

.navigation.hidden {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.banner {
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
}
.banner .banner-wrap {
  position: absolute;
  top: 200px;
  left: 200px;
}
.banner .banner-wrap img {
  max-width: 300px;
}

.camping-info {
  padding: 100px 0;
}
.camping-info .camping-info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}
.camping-info .camping-info-right, .camping-info .camping-info-left {
  width: 48%;
}
.camping-info .camping-info-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-left: 10px;
  color: rgb(77, 91, 42);
}
.camping-info .camping-info-left h1 {
  margin-bottom: 0;
}
.camping-info .camping-info-right .camping-info-description p {
  color: rgb(77, 91, 42);
  font-size: 20px;
  line-height: 1.4;
  text-align: justify;
  letter-spacing: 3px;
}

.camping-gallery {
  margin-bottom: 100px;
}
.camping-gallery .camping-horizontal-gallery {
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
}
.camping-gallery .camping-horizontal-gallery .camping-image-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.camping-gallery .camping-horizontal-gallery .camping-image-list img {
  width: 600px;
  height: 500px;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.camping-memories {
  margin-bottom: 100px;
}
.camping-memories .camping-memories-top {
  text-align: center;
  margin-bottom: 60px;
  color: rgb(77, 91, 42);
}
.camping-memories .camping-memories-top p {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 3px;
  font-weight: 400;
  color: rgb(77, 91, 42);
}
.camping-memories .camping-memories-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.camping-memories .camping-memories-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.camping-memories .camping-memories-center {
  margin-bottom: 60px;
}
.camping-memories .camping-memories-center .left, .camping-memories .camping-memories-center .right {
  width: 48%;
}
.camping-memories .camping-memories-center .left img {
  width: 100%;
}
.camping-memories .camping-memories-center .right img {
  max-width: 100%;
}
.camping-memories .camping-memories-center .right p {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 3px;
  color: rgb(77, 91, 42);
  margin-bottom: 30px;
  text-align: justify;
}
.camping-memories .camping-memories-bot .left, .camping-memories .camping-memories-bot .right {
  width: 48%;
}
.camping-memories .camping-memories-bot .left p {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 3px;
  color: rgb(77, 91, 42);
  text-align: justify;
}
.camping-memories .camping-memories-bot .right img {
  max-width: 100%;
  height: 500px;
}

.background-scroll {
  position: relative;
  width: 100%;
  min-height: 400px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
}

.background-scroll::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.promo-section .promo-title {
  text-align: center;
  color: #FFF;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.promo-section .promo-title h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
.promo-section .promo-title h2 {
  font-size: 64px;
  font-weight: 700;
  margin: 10px 0 0;
  text-transform: uppercase;
}

.camping-current {
  padding-top: 100px;
  padding-bottom: 60px;
  margin-bottom: 100px;
  background-color: rgb(77, 91, 42);
}
.camping-current .camping-current-title {
  text-align: center;
  color: #FFF;
}
.camping-current .camping-current-title h1 {
  margin-bottom: 0;
}
.camping-current .camping-current-list .camping-current-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 60px 0;
  gap: 40px;
  position: relative;
}
.camping-current .camping-current-list .camping-current-item .item-image, .camping-current .camping-current-list .camping-current-item .item-content {
  width: 48%;
}
.camping-current .camping-current-list .camping-current-item .item-image img {
  max-width: 650px;
}
.camping-current .camping-current-list .camping-current-item .item-content .item-content-top {
  margin-bottom: 30px;
}
.camping-current .camping-current-list .camping-current-item .item-content .item-content-top h5 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 18px;
  color: #FFF;
}
.camping-current .camping-current-list .camping-current-item .item-content .item-content-top h3 {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #EEC836;
  letter-spacing: 6px;
}
.camping-current .camping-current-list .camping-current-item .item-content .item-content-center {
  margin-bottom: 30px;
  margin-left: 15px;
}
.camping-current .camping-current-list .camping-current-item .item-content .item-content-center p {
  font-size: 20px;
  color: #FFF;
  font-weight: 400;
  letter-spacing: 3px;
}
.camping-current .camping-current-list .camping-current-item .item-content .item-content-bot .register-btn {
  cursor: pointer;
  padding: 15px 30px;
  border: 1px;
  text-align: center;
  background-color: rgb(181, 25, 31);
}
.camping-current .camping-current-list .camping-current-item .item-content .item-content-bot .register-btn a {
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}
.camping-current .camping-current-list .camping-current-item .item-content .item-content-bot .register-btn:hover {
  background-color: #FFF;
}
.camping-current .camping-current-list .camping-current-item .item-content .item-content-bot .register-btn:hover a {
  color: red;
}
.camping-current .camping-current-list .camping-current-item .item-content .line {
  position: absolute;
  bottom: 0;
  width: 48%;
  height: 1px;
  background: #FFF;
  border-radius: 2px;
  content: "";
}

.camping-flavor {
  margin-bottom: 100px;
  position: relative;
}
.camping-flavor .camping-flavor-title {
  text-align: center;
  color: rgb(77, 91, 42);
  margin-bottom: 60px;
}
.camping-flavor .camping-flavor-title p {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 3px;
  color: rgb(77, 91, 42);
}
.camping-flavor .camping-flavor-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.camping-flavor .camping-flavor-content .camping-flavor-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  margin: 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.camping-flavor .camping-flavor-content .camping-flavor-item img {
  max-width: 240px;
}
.camping-flavor .camping-flavor-content .camping-flavor-item .flavor-content h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: rgb(77, 91, 42);
  font-weight: 700;
  letter-spacing: 3px;
}
.camping-flavor .camping-flavor-content .camping-flavor-item .flavor-content p {
  font-size: 18px;
  color: rgb(77, 91, 42);
  font-weight: 400;
  text-align: justify;
}

.camping-contact {
  margin: 100px 0;
}
.camping-contact .camping-contact-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(77, 91, 42);
}
.camping-contact .camping-contact-group .contact-image {
  width: 50%;
}
.camping-contact .camping-contact-group .contact-image img {
  max-width: 100%;
  height: 600px;
}
.camping-contact .camping-contact-group .contact-content {
  width: 50%;
  color: #FFF;
  padding: 0 30px;
}
.camping-contact .camping-contact-group .contact-content h2 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 6px;
  margin-bottom: 30px;
}
.camping-contact .camping-contact-group .contact-content p {
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 400;
  line-height: 1.4;
  text-align: justify;
}
.camping-contact .camping-contact-group .contact-content .contact-info {
  margin: 30px 0;
}
.camping-contact .camping-contact-group .contact-content .contact-info p {
  margin: 0;
}
.camping-contact .camping-contact-group .contact-content .contact-info p a {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 3px;
  color: #FFF;
}
.camping-contact .camping-contact-group .contact-content .register-btn {
  cursor: pointer;
  padding: 15px 30px;
  border: 1px;
  text-align: center;
  background-color: rgb(181, 25, 31);
}
.camping-contact .camping-contact-group .contact-content .register-btn a {
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}
.camping-contact .camping-contact-group .contact-content .register-btn:hover {
  background-color: #FFF;
}
.camping-contact .camping-contact-group .contact-content .register-btn:hover a {
  color: red;
}

.camping-registration .camping-registration-title {
  color: rgb(77, 91, 42);
  text-align: center;
}
.camping-registration .camping-registration-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFF;
  -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
  padding: 60px;
  margin-bottom: 50px;
}
.camping-registration .camping-registration-content .register-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
}
.camping-registration .camping-registration-content .register-form .success-message {
  font-size: 18px;
  font-weight: 700;
}
.camping-registration .camping-registration-content .register-form h2 {
  font-size: 24px;
  color: rgb(77, 91, 42);
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.camping-registration .camping-registration-content .register-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.camping-registration .camping-registration-content .register-form form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.camping-registration .camping-registration-content .register-form form input[type=submit] {
  padding: 10px;
  font-size: 18px;
  color: #FFF;
  background-color: rgb(77, 91, 42);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  text-transform: uppercase;
  width: 50%;
  margin-top: 20px;
}
.camping-registration .camping-registration-content .register-form form input[type=submit]:hover {
  background-color: #285526;
}
.camping-registration .camping-registration-content .register-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.camping-registration .camping-registration-content .register-image img {
  max-width: 100%;
}

.thanks {
  margin-top: 50px;
}
.thanks .thanks-img {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.thanks .thanks-img .thanks-content {
  text-align: center;
  color: rgb(77, 91, 42);
  max-width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.thanks .thanks-img .thanks-content p {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 3px;
  font-weight: 400;
  color: rgb(77, 91, 42);
}

.footer-custom .footer-copyright {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgb(77, 91, 42);
  width: 100%;
  text-align: center;
}
.footer-custom .footer-copyright h4 {
  margin: 0;
  padding: 10px 0;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 2px;
}