img {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  font-family: "A";
}

a:hover {
  text-decoration: none;
}

.header-mobile {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 11;
}

.navigation {
  position: fixed;
  width: 100%;
  z-index: 11;
  background-color: rgb(77, 91, 42);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.navigation .navigation-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.navigation .navigation-wrap .navigation-left .logo a img {
  width: 100px;
  height: 80px;
}
.navigation .navigation-wrap .navigation-right .navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin: 0;
}
.navigation .navigation-wrap .navigation-right .navigation-list li {
  padding-left: 100px;
}
.navigation .navigation-wrap .navigation-right .navigation-list li a {
  font-size: 20px;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}
.navigation .navigation-wrap .navigation-right .navigation-list li:first-child {
  margin-left: 0;
}
.navigation .navigation-wrap .navigation-right .navigation-list li:last-child {
  margin-right: 0;
}

.navigation.hidden {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.banner {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}
.camping-info {
  margin-bottom: 100px;
}
.camping-info .camping-info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}
.camping-info .camping-info-right, .camping-info .camping-info-left {
  width: 48%;
}
.camping-info .camping-info-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-left: 10px;
}
.camping-info .camping-info-left h5 {
  font-weight: 400;
  color: rgb(77, 91, 42);
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 18px;
}
.camping-info .camping-info-left h1 {
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(77, 91, 42);
  letter-spacing: 6px;
}
.camping-info .camping-info-right .camping-info-description p {
  color: rgb(77, 91, 42);
  font-size: 20px;
  line-height: 1.4;
  text-align: justify;
  letter-spacing: 3px;
  padding-bottom: 10px;
}

.camping-gallery {
  margin-bottom: 100px;
}
.camping-gallery .camping-horizontal-gallery {
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  padding: 20px 0;
}
.camping-gallery .camping-horizontal-gallery .camping-image-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.camping-gallery .camping-horizontal-gallery .camping-image-list img {
  width: 700px;
  height: 500px;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.camping-memories {
  margin-bottom: 100px;
}
.camping-memories .camping-memories-top {
  text-align: center;
  margin-bottom: 60px;
}
.camping-memories .camping-memories-top h5 {
  font-weight: 400;
  color: rgb(77, 91, 42);
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 18px;
  margin-bottom: 30px;
}
.camping-memories .camping-memories-top h1 {
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(77, 91, 42);
  letter-spacing: 6px;
  margin-bottom: 30px;
}
.camping-memories .camping-memories-top p {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 3px;
  font-weight: 400;
  color: rgb(77, 91, 42);
}
.camping-memories .camping-memories-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.camping-memories .camping-memories-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.camping-memories .camping-memories-center {
  margin-bottom: 60px;
}
.camping-memories .camping-memories-center .left, .camping-memories .camping-memories-center .right {
  width: 48%;
}
.camping-memories .camping-memories-center .left img {
  width: 100%;
}
.camping-memories .camping-memories-center .right img {
  max-width: 100%;
}
.camping-memories .camping-memories-center .right p {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 3px;
  color: rgb(77, 91, 42);
  margin-bottom: 30px;
}
.camping-memories .camping-memories-bot .left, .camping-memories .camping-memories-bot .right {
  width: 48%;
}
.camping-memories .camping-memories-bot .left p {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 3px;
  color: rgb(77, 91, 42);
}
.camping-memories .camping-memories-bot .right img {
  max-width: 100%;
  height: 500px;
}

.background-scroll {
  position: relative;
  width: 100%;
  min-height: 420px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
}

.background-scroll::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.promo-section .promo-title {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.promo-section .promo-title h1 {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}
.promo-section .promo-title h2 {
  font-size: 48px;
  font-weight: 700;
  margin: 10px 0 0;
}

.camping-current {
  padding: 100px 0;
  margin-bottom: 100px;
  background-color: rgb(77, 91, 42);
}
.camping-current .camping-current-title {
  text-align: center;
  color: #FFF;
}
.camping-current .camping-current-title h5 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 18px;
  margin-bottom: 30px;
}
.camping-current .camping-current-title h1 {
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 30px;
}

.thanks .thanks-img {
  position: relative;
  bottom: 38px;
  width: 100%;
  height: 800px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.thanks .thanks-img .thanks-content {
  text-align: center;
  color: rgb(77, 91, 42);
  max-width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.thanks .thanks-img .thanks-content h5 {
  font-weight: 400;
  color: rgb(77, 91, 42);
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 18px;
  margin-bottom: 30px;
}
.thanks .thanks-img .thanks-content h1 {
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(77, 91, 42);
  letter-spacing: 6px;
  margin-bottom: 30px;
}
.thanks .thanks-img .thanks-content p {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 3px;
  font-weight: 400;
  color: rgb(77, 91, 42);
}

.footer-custom .footer-copyright {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgb(77, 91, 42);
  width: 100%;
  text-align: center;
}
.footer-custom .footer-copyright h4 {
  margin: 0;
  padding: 10px 0;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}